@{
    ViewBag.Title = "Anasayfa";
}
<h2 class="text-center">Lorem Ipsum</h2>
<p>
    Nunc condimentum diam non arcu fermentum, quis fermentum tellus sollicitudin. Cras condimentum suscipit ligula, sit amet ornare velit porta vel. Quisque sagittis neque ac nulla eleifend, ac consequat nisi commodo. Donec eget eros justo. Proin at condimentum risus. Aenean vehicula, purus a gravida sodales, sapien augue tempor ex, at efficitur lectus ex eget lorem. Morbi vestibulum mi efficitur, lacinia ante a, lacinia nibh. In risus mauris, feugiat quis commodo placerat, pretium ac massa. Praesent vel dolor dignissim nisi rutrum elementum. Mauris malesuada sapien congue ante elementum, eget pellentesque eros rutrum. Praesent blandit magna lacinia urna mollis, nec facilisis nibh molestie. Aenean mattis nibh vitae dictum hendrerit. Vivamus eget dapibus enim. Aliquam bibendum placerat nisi vel laoreet.
</p>
<p>
    Aliquam ipsum urna, facilisis ac nisi luctus, hendrerit porttitor lacus. Proin tortor purus, dictum nec augue in, placerat vestibulum ipsum. Mauris placerat mattis eros vel fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur orci velit, lacinia nec vulputate vel, luctus ac nunc. Donec pulvinar lorem at lorem consequat pharetra. Vestibulum et rhoncus lorem, nec tempus sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum convallis, velit quis finibus pulvinar, augue nisi condimentum arcu, at fermentum velit sem eu tortor. Nullam vitae scelerisque est. Nullam et erat libero. Aliquam ac rhoncus erat. Nunc rutrum molestie imperdiet. Suspendisse orci erat, bibendum ac turpis nec, tempor efficitur metus. Praesent mattis ipsum quis elit dapibus, non viverra turpis facilisis. Cras volutpat aliquam dictum.
</p>
<p>
    Morbi ut nisi nisi. Nullam ac diam id arcu sagittis pretium vel vel augue. Phasellus et leo et augue dignissim viverra. Curabitur et tempus tellus. In a diam quam. Quisque vitae turpis neque. Praesent dapibus eros a magna varius dignissim. Cras hendrerit eu justo in ultrices.
</p>
<p>
    Aliquam ultricies sapien eu vulputate ullamcorper. Nam blandit, dolor a accumsan rhoncus, nulla nibh vehicula orci, nec vulputate magna ipsum at erat. Ut pellentesque tortor quam, sit amet dictum tellus lacinia ac. Donec tempus, quam ut rutrum mattis, dolor velit elementum odio, et ultricies massa massa a sapien. Cras maximus augue ac hendrerit ultricies. Morbi nulla nunc, molestie hendrerit imperdiet sit amet, vulputate vel arcu. Aenean lobortis eros a enim elementum, quis gravida risus molestie. Donec pretium diam mollis, blandit turpis sit amet, condimentum eros. Sed tristique, mauris at dictum porta, sem ipsum vehicula orci, et tristique nisi metus quis diam. Phasellus et dui ut arcu bibendum tincidunt. Vestibulum non dolor nisi. Vestibulum dictum purus at metus sagittis porttitor. Pellentesque sed aliquet lacus. Duis quam augue, sollicitudin id eros eget, facilisis tincidunt sapien.
</p>
<p>
    Donec ante ligula, tincidunt nec neque porta, rutrum iaculis purus. Donec eget porta sapien. Morbi non tortor nec lorem elementum egestas a a enim. Nulla mattis dapibus ante. Praesent laoreet consequat feugiat. Phasellus justo libero, fermentum a nisl ac, varius faucibus nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum in nibh gravida, consectetur mauris vitae, dignissim neque. Duis libero ipsum, ullamcorper eget leo id, porttitor sagittis velit. Donec ut mauris nec dui sodales iaculis. Maecenas convallis gravida bibendum. Quisque at risus interdum justo molestie malesuada. Nullam tincidunt semper mi at cursus. Nunc consequat pulvinar sapien. Aliquam tempor blandit enim sed ornare. Curabitur ut elit ut velit dictum pellentesque.
</p>
<p>
    Quisque nec est at sem rutrum varius vitae ac enim. Sed lobortis ornare elit, vel pulvinar nibh convallis et. Nullam auctor eget lacus a ullamcorper. Mauris consectetur nisl a neque posuere semper. Etiam non ullamcorper ligula, a fermentum justo. Mauris tempor nisl non aliquet imperdiet. Duis interdum sapien eget nulla mattis blandit. Nullam iaculis ut purus at mollis. Aliquam sed tincidunt velit, at ultrices velit. Ut pulvinar ligula eu dolor dapibus mattis.
</p>
<p>
    Quisque malesuada leo purus, in consectetur odio condimentum non. Fusce iaculis sollicitudin purus, vitae dapibus felis porttitor eu. Nulla id viverra ante, at viverra sapien. Vivamus lectus enim, aliquam at dui et, consectetur ultrices neque. Aenean rutrum metus quis odio venenatis finibus. Donec ultrices molestie dictum. Curabitur suscipit ligula in ultricies lacinia. Maecenas risus nunc, tempus ullamcorper augue ut, tempor pretium magna. Vestibulum consequat lorem ac metus facilisis, vitae molestie dui congue. Fusce mi mauris, venenatis posuere lorem ut, sagittis vulputate diam. Aenean eget est augue. Maecenas at leo faucibus, maximus lectus id, varius nulla. Sed bibendum turpis eu odio luctus rhoncus.
</p>
<p>
    In sodales lectus vitae metus laoreet vestibulum. Integer facilisis pretium purus, et porttitor eros euismod sit amet. Mauris ac condimentum sapien. Praesent eu pellentesque velit. Praesent ac malesuada purus. Sed dapibus urna lacus, et pretium ligula elementum id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
</p>
<p>
    Aenean at velit non risus vulputate condimentum. Curabitur eget urna blandit, condimentum justo feugiat, convallis ex. Fusce consequat tincidunt ante ac iaculis. Phasellus quis tristique erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec iaculis, mi non mollis tristique, nibh risus lacinia arcu, at porttitor tortor mauris sit amet lacus. Nam feugiat quam lectus, malesuada semper est commodo id. Suspendisse placerat mauris eget fermentum tincidunt. Maecenas suscipit ligula orci, in vestibulum massa fringilla in. Sed faucibus, tortor non egestas luctus, magna neque auctor nisl, vitae interdum orci enim non mi.
</p>
<p>
    Ut sodales gravida tortor, auctor porta sem interdum vel. Pellentesque at porttitor mauris. Nam sit amet ante ornare, aliquam ante ut, condimentum turpis. Quisque dignissim sodales orci, in commodo metus rhoncus id. Nam rutrum, dui et tincidunt tristique, tortor massa volutpat lorem, et pulvinar eros tortor ut libero. Vestibulum in lectus quis augue consequat hendrerit. Donec et eleifend erat, ac dapibus velit. In ipsum ante, condimentum ut eleifend sed, vehicula tempus augue. Vivamus a quam feugiat mauris molestie luctus. Duis suscipit eu mi eu tempor. Phasellus elementum in dui eu rutrum. Aliquam hendrerit massa id elit ultrices pretium. Sed pellentesque at felis gravida eleifend. Fusce vehicula quam sit amet nunc sagittis, vel pharetra leo dictum.
</p>
<p>
    Integer urna massa, mollis nec urna id, ultricies dignissim ligula. Sed convallis posuere ultricies. Donec quam enim, feugiat a faucibus eu, consectetur dapibus mauris. Mauris in lectus eros. Sed facilisis, nibh ut faucibus laoreet, ante odio varius purus, sed lobortis mi nibh sed mi. Mauris risus justo, maximus id pellentesque in, porta eu metus. Donec finibus eros eu ipsum feugiat posuere. Nunc eget enim faucibus, maximus libero eget, dignissim dui. Donec non arcu dictum sapien pharetra vulputate. Proin pulvinar metus tempus lectus lacinia, eget scelerisque arcu dignissim. Quisque purus orci, vehicula vitae nunc faucibus, pretium porta mauris. Aenean placerat eleifend mauris, sit amet ornare orci ultrices fermentum. Maecenas pellentesque, tortor sed rhoncus euismod, mi enim varius orci, sed tempus eros ligula quis sem. In dapibus felis nunc.
</p>
<p>
    In gravida interdum dolor. Morbi magna purus, bibendum a scelerisque eu, varius at metus. In vulputate nunc nibh. Phasellus dapibus mi ex, id pellentesque lectus facilisis in. Pellentesque rutrum ante ut ultrices aliquam. Pellentesque ac enim magna. Duis tincidunt lectus at magna viverra luctus. Nulla placerat massa nec ante fringilla, non venenatis libero pulvinar. Aenean felis est, elementum gravida ipsum id, efficitur porta neque.
</p>
<p>
    Curabitur ac risus turpis. Curabitur mattis ante euismod mi consequat convallis at et sem. Morbi metus risus, pretium eu maximus sit amet, viverra eu ante. Nullam lacinia nec tortor interdum malesuada. Pellentesque volutpat erat condimentum nulla sagittis ornare. Aliquam et enim lacus. Phasellus accumsan, sem at accumsan cursus, odio tellus condimentum ipsum, ut eleifend elit massa vitae turpis. Fusce venenatis efficitur odio ut finibus. In quis scelerisque mauris. Donec quis tellus sit amet nisi fringilla tempor quis id ante. Nulla eros augue, euismod at feugiat eu, cursus nec metus. Aenean laoreet, diam ac condimentum lobortis, ante nisl pharetra tortor, quis finibus nulla libero sit amet sem.
</p>
<p>
    Sed at dignissim diam. Suspendisse potenti. Vestibulum at enim malesuada, sollicitudin lacus aliquam, viverra velit. Morbi pulvinar porta ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et facilisis elit, id vehicula ligula. Proin a mauris ut diam volutpat pulvinar. Cras auctor semper gravida. Etiam porttitor tempor nunc a consequat. Ut quis tincidunt dolor. Suspendisse vel rhoncus purus, non feugiat mauris. Nullam efficitur, turpis ut tincidunt gravida, enim nulla finibus mi, quis semper nibh nunc id mi.
</p>
<p>
    Fusce purus leo, laoreet sit amet rhoncus non, condimentum at ex. Curabitur ac faucibus tellus. Sed non velit eget risus tempus bibendum sed ac dolor. Ut elit magna, maximus quis ligula vitae, gravida ornare libero. Donec non luctus sem. Donec sit amet cursus enim. Integer ut bibendum nibh. Donec sed mauris ac dolor tempor commodo. Vestibulum porttitor tempor efficitur.
</p>
