<!--Sidebar-->
<nav class="sidebar">
    <ul class="nav-list">
        <li class="nav-itemImage">
            <img src="~/Content/images/CV.png" class="rounded-circle" alt="Mehmet Yalçınkaya">
        </li>
        <li class="nav-itemIH5">
            <h5>Mehmet Yalçınkaya</h5>
        </li>

        <li class="nav-item">
            <a href="@Url.Action("Index","Home")" class="nav-link current">
                <i class="fas fa-home"></i>Anasayfa
            </a>
        </li>

        <li class="nav-item">
            <a href="@Url.Action("About","Home")" class="nav-link">
                <i class="fas fa-address-card"></i>Hakkımda
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Contact","Home")" class="nav-link">
                <i class="fas fa-envelope"></i>İletişim
            </a>
        </li>
    </ul>
    <div class="social-media">
        <a href="https://www.instagram.com/mehmetyalcinkaya61/" class="icon-link" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/mehmetyalcinkaya" class="icon-link" target="_blank">
            <i class="fab fa-github-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/mehmetyalcinkaya/" class="icon-link" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>

    </div>
</nav>
<!--Sidebar-->